*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Overpass", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: hsl(217, 12%, 63%);
}

button {
  font-family: "Overpass", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: hsl(216, 12%, 8%);
}
main .box {
  max-width: 412px;
  max-height: 416px;
  margin: 24px;
  padding: 24px;
  border-radius: 15px;
  background-image: radial-gradient(98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%);
  transition: display 0.5s;
}
main .box .title {
  margin: 16px 0 10px 0;
  font-size: 24px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}
main .box .information {
  margin-bottom: 24px;
  line-height: 22px;
}
main .first .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: hsl(213, 19%, 18%);
}
main .first .image img {
  height: 13.33px;
  width: 13.96px;
}
main .first .btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}
main .first .btn-box button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50%;
  color: hsl(217, 12%, 63%);
  background: none;
  background-color: hsl(213, 19%, 18%);
  transition: 0.3s;
  cursor: pointer;
}
main .first .btn-box button:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
}
main .first .btn-box .click {
  color: hsl(0, 0%, 100%);
  background-color: hsl(216, 12%, 54%);
}
main .first .submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
  height: 45px;
  border: none;
  border-radius: 22.5px;
  text-transform: uppercase;
  letter-spacing: 1.87px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
  transition: 0.3s;
  cursor: pointer;
}
main .first .submit:hover {
  color: hsl(25, 97%, 53%);
  background-color: hsl(0, 0%, 100%);
}
main .second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main .second img {
  margin: 10px 0 24px 0;
}
main .second .rate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 32px;
  border-radius: 22.5px;
  color: hsl(25, 97%, 53%);
  background-color: hsl(213, 19%, 18%);
}
main .second .title {
  margin: 24px 0 10px 0;
}
main .display {
  display: none;
}

@media (min-width: 1440px) {
  main .box .information {
    line-height: 24px;
  }
  main .box .title {
    font-size: 28px;
  }
  main .first {
    padding: 32px 32px 39px 32px;
  }
  main .first .image {
    width: 48px;
    height: 48px;
  }
  main .first .image img {
    height: 16px;
    width: 16.75px;
  }
  main .first .title {
    margin: 30px 0 7px 0;
    font-size: 28px;
  }
  main .first .btn-box {
    margin-bottom: 32px;
  }
  main .first .btn-box button {
    height: 51px;
    width: 51px;
    font-size: 16px;
  }
  main .first .submit {
    font-size: 15px;
  }
  main .second {
    padding: 35px 40px 21px 32px;
  }
  main .second .rate {
    margin: 8px 0;
  }
  main .second .title {
    margin-bottom: 7px;
  }
}/*# sourceMappingURL=style.css.map */